
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --color-background: #3D90D9;
    --color-main_container: #021F59;
    --color-main_button: #024873;

    --color-black: #161616;
    --color-white: #f1f1f1;
}



* {
    margin: 0;
    padding: 0;
}



body {
    background-color: var(--color-background);    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main_container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-main_container);
    width: 280px;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
}

.main_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:  var(--color-white);
    width: 250px;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-family: "Poppins";
}

.main_input {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    font-family: "Poppins";
    font-size: 1rem;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
}

.question__main_input {
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 0.8rem 1rem 0.2rem 1rem;
}



.main_input input {
    text-decoration: none;
    background-color: var(--color-white);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-family: "Poppins";
    font-size: 1rem;
}


.button__main_input {
    font-family:"Poppins";
    padding: 5px 8px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-main_button);
    color: var(--color-white);
    margin-top: 1rem;
    cursor: pointer;
    width: 70px;
    margin-right: 10px;
    justify-content: center;
}

.button__main_input:hover {
    transition: 0.3s;
    color: var(--color-main_button);
    background-color: var(--color-white);
}

.main_result {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    width: 220px;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    font-family: 'Poppins';
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
}

.result_icon {
    font-size:2rem;
    color: green;
}


